# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment files
*.env

# Ignore virtual environment folders
env/
venv/
.myenv/

# Ignore specific editor/IDE files (optional, add based on your setup)
.vscode/
.idea/
*.swp
data/
